@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F3F3F4;
  font-family: 'Outfit', sans-serif;
  width: 100%;
  height: auto;
}

.box1{
    border: 2px solid #D1FADF;
    padding: 25px 10px;
    background-color: #D1FADF;
    line-height: 30px;
  }
  .boxes{
    display: flex;
    justify-self: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
@media screen and (max-width: 768px){
  
    .box1{
      border: 2px solid #D1FADF;
      padding: 25px 70px;
      background-color: #D1FADF;
      line-height: 30px;
    }
    .box{
      line-height: 45px;
    }
}