@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F3F3F4;
  font-family: 'Outfit', sans-serif;
  width: 100%;
  height: auto;
}

.Frame {
 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .show {
    width: 90%;
    height: 30%;
  }